
    /* STart Form*/
    body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  margin: 15px auto;
}
.contact-form{
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  padding: 4px 20px;
  margin: 0px auto;

}
.contact-form .img{
    align-self: center;
  }
.contact-form input{
  margin-bottom: 0px;
  padding-left: 30px
}
.icon{
  height: 8;
  float: left;
  position: relative;
  top: -27px;
  left:5px;
  color:#999;
}

.btn-primary{
  background-color: #0274b4;
}
.close{
  position: relative;
    top: -10px;
    right: -5px;
}
.contact-form .custum-alert{
   padding: 5px;
   display: none;
}
.card-primary.card-outline {
    border-top: 3px solid #007bff;
    border-bottom: 3px solid #007bff;
  }

.main{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
label{
    font-size: large;
    font-weight: 600;
}
a{
 text-decoration: none;
}
a:hover {
    color: #0056b3;
    text-decoration: none;