
body {
  background-image: url('../img/bg.jfif') !important;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #f8b739; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }
  .heading-section small {
    font-size: 18px; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

.wrapper {
  width: 100%; }

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #1d19199c;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}
.sidch{
  position: relative;
  width: 250px
}
  #sidebar.active {
    margin-left: -300px;
     }
  #sidebar ul.components {
    padding: auto; 
  }
  #sidebar ul li {
    font-size: 16px;
     }
    #sidebar ul li > ul {
      margin-left: 90px;
       }
      #sidebar ul li > ul li {
        font-size: 14px;
        border-bottom:none;
        margin-left: -71px;
        padding-left : 5px;
     
      }
      #sidebar ul li > ul li:hover{
        transition: 0.2s;
        border-left : 5px solid #f8b739;
        border-right: 5px solid #f8b739;
        border-radius: 5px;
        letter-spacing: 2px;

      }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: rgba(255, 255, 255, 0.8);
       }
      #sidebar ul li a:hover {
        color: #f8b739; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #f8b739;
       }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -300px; }
      #sidebar.active {
        margin-left: 0; } }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 170px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }



.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   text-align: center;
    border-top: 5px solid #f8b739;
    padding-top: 10px
}
.navbar-light .navbar-nav .nav-link{
  color: #000
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#f8b739;
  

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
  color: #f8b739;
  font-weight: 900
}
.file-msg {
  font-size: medium;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left:auto;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  align-self: center;
  &:focus {
  outline: none;
  }
}
  .file-drop-area
   {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    max-width: 100%;
    padding: 25px;
    border: 6px dashed #bebebe;
    border-radius: 3px;
    transition: 0.2s;
    margin-bottom: 20px;
    &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
.col-form-label{
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}
.form-style{
  margin-bottom: 100px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow:inset 3px 3px 4px #ECECEC,inset -3px -3px 4px #ECECEC,1px 1px 4px gray,-1px -1px 4px gray
}
.wrapper_pic{
  height: 200px;
  width : 200px;
  position: relative;
  border:5px solid #fff;
  border-radius: 50%;
  background: url('../img/undraw_male_avatar_323b.svg');
  background-size: 100% 100%;
  overflow: hidden;

}
.my_file{
  position: absolute;
  bottom: 0;
  left: -36px;
  outline: none;
  color: gray
  width: 100%;
  box-sizing: border-box;
  padding: 15px 120px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgba(0,0,0,0.5);
}
.my_file::-webkit-file-upload-button {
  visibility: hidden;
}
.my_file:hover{
    background-color: rgba(0,0,0,0.0);
}
.cam{
    position: absolute;
    left: 78px;
    top: 125px;
    font-size: 40px;
    color: #fff
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #f8b739;
  transition: 0.5s;
}
.cardli a{
  color: #000;
}
.cardli{
  list-style: none;
  width: 100%;
  padding: 4px
}
.card{
  background: #fafafa;
}
.card {
  height: auto;
}
.subli{
      margin-left: 30px;
}
.card-body{
  margin-bottom:22px;
  padding: 5px 15px 15px 15px;
}